@font-face {
	font-family: rainyhearts;
	src: url('assets/rainyhearts.ttf');
}

body {
    background-color: white;
    text-align: center;
    font-family: rainyhearts;
    font-size: 32px;
    color: purple;
}

h1 {
    font-size: 128px;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 32px;
}

a, a:visited {
    color: purple;
    text-decoration: none;
}

a.visiting {
    color: blueviolet;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8vh;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 32px;
}

.about {
    margin: 0 128px;
    display: flex;
    justify-content: center;
}

.desc {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about img {
    height: 25vw;
    width: 50vh;
}

